<div>
  <h1>Log in to our website!</h1>
  <form class="login" action="/login" method="POST">
    <label class="login" for="username">Username
      <input type="text" name="username" id="username"/>
    </label>
    <label class="login" for="password">Password
      <input type="text" name="password" id="password"/>
    </label>
    <div class="login">
      <input type="submit" value="Log in!" />
    </div>
  </form>
  <h1>Are you still not a member? Sign up here</h1>
  <a href="/signup">Sign up here</a>
</div>