<div>
  <h1>Sign up to our website!</h1>
  <form class="signup" action="/signup" method="POST">
    <label class="signup" for="name">Username
      <input type="text" name="name" id="name"/>
    </label>
    <label class="signup" for="password">Password
      <input type="text" name="password" id="password"/>
    </label>
    <div class="signup">
      <input type="submit" value="Sign Up!" />
    </div>
  </form>
</div>