<div>
  <h1>Sign up to our website!</h1>
  <form class="signup" action="/signup" method="POST">
    <label class="signup" for="username">Username
      <input type="text" name="username" id="username"/>
    </label>
    <label class="signup" for="password">Password
      <input type="text" name="password" id="password"/>
    </label>
    <div class="signup">
      <input type="submit" value="Sign Up!" />
    </div>
  </form>
  <h1>Are you already a member?</h1>
  <a href="/login">Log in here</a>
</div>